.Login {
  background-color: #7d2ae8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
}

.Login .container {
  min-width: 700px;
  max-width: 780px;
  min-height: 200px;
  background-color: white;
  display: flex;
}

.Login .image {
  width: 50%;
}

.Login .image img {
  height: 100%;
  width: 100%;
}

.Login .form {
  height: 100%;
  width: 50%;
}

.Login .form-content {
  margin: 20px !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.Login .title {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 20px;
  font-size: 25px;
}

.Login .title span {
  text-decoration: underline;
  text-decoration-color: #7d2ae8;
  text-decoration-thickness: 5px;
  text-underline-offset: 4px;
}

.Login .input-boxes {
  margin-top: 30px;
  width: 100%;
  font-family: sans-serif;
}

.Login .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.Login .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  /* border: 2px solid red; */
  outline: none;
}

.Login .input-box input:focus,
.Login .input-box input:valid {
  border-color: #7d2ae8;
}

.Login .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.Login .text a {
  text-decoration: none;
  color: #7d2ae8;
  cursor: pointer;
}

.Login .text a:hover {
  text-decoration: underline;
}

.Login .button {
  color: #fff;
  margin-top: 40px;
}

.Login .button input {
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.Login .sign-up-text {
  text-align: center;
  margin-top: 25px;
}
