.Home {
  min-height: 100vh;
  display: flex;
  background: url("./images/background.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  justify-content: center;
  align-items: center;
}

.Home>div{
  width: 690px;
}

.Home .dynamic-text {
  color:crimson;
}