.Home {
  min-height: 100vh;
  display: flex;
  background: url("./images/background.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  justify-content: center;
  align-items: center;
}

.Home>div{
  /* border: 2px solid red; */
  width: 680px;
}


.Home .buttons {
  /* border: 2px solid red; */
  
}

.Home .dynamic-text {
  color:crimson;
}